.contentSlot {
    font-size: 1em;
    line-height: 145%;
}

.contentSlot *::selection {
    color: #FFF;
    background: var(--theme-secondary, #ffa03c);
}

.contentSlot h1,
.contentSlot .h1,
.contentSlot h2,
.contentSlot .h2,
.contentSlot h3,
.contentSlot .h3,
.contentSlot h4,
.contentSlot .h4,
.contentSlot h5,
.contentSlot .h5 {
    font-family: "Larken", sans-serif !important;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: var(--theme-primary, #333333);
}

.contentSlot h1,
.contentSlot h2,
.contentSlot h3 {
    break-before: column;
}

.contentSlot h1 {
    font-size: 3em;
    line-height: 115%;
    margin-top: 0;
}

.contentSlot h2 {
    font-size: 2.25em;
    line-height: 115%;
    margin-top: 0;
}

.contentSlot h3 {
    font-size: 1.5em;
    line-height: 135%;
    margin-top: 0;
}

.contentSlot h4 {
    font-size: 1.125em;
    line-height: 135%;
}

.contentSlot p {
    margin-bottom: 1em;
    line-height: 160%;
    color: var(--text-main, #333333);
}

.dark .contentSlot p {
    color: var(--text-main-dark, #eeeeee);
}

.contentSlot blockquote {
    font-style: italic;
    color: var(--theme-primary, #333333);
    border-left: 0.25em solid var(--theme-primary, #333333);
    margin-left: 0;
    padding-left: 3em;
}

@media (max-width: 768px) {
    .contentSlot blockquote {
        padding-left: 1em;
    }
}

.contentSlot blockquote p {
    color: var(--theme-primary, #333333);
}

.dark .contentSlot blockquote p {
    color: var(--theme-primary, #eeeeee);
}

.highlight, mark {
    position: relative;
    z-index: 1;
    background: none;
    box-shadow: 0px -0.65em var(--theme-primary-extralight, #eeeeee) inset;
}

.dark .highlight, .dark mark {
    box-shadow: 0px -0.65em var(--theme-primary-extradark, #666) inset;
}

.contentSlot figcaption {
    color: var(--theme-primary, #333333);
    border-top: 0.25em solid var(--theme-primary, #333333);
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

.opening {
    font-style: italic;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.full-align-center {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.full-align-center * {
    break-before: initial !important;
}

.float-left {
    float: left;
}
