@import url("base.css");

html {
  --bg-light-mode: #fff7e0;
  --bg-dark-mode: rgb(45, 45, 45);
  --theme-primary: rgb(185, 136, 61);
  --theme-primary-extralight: rgb(243 244 246);
  --theme-secondary: rgb(185, 136, 61);
  --text-main: rgba(185, 136, 61);
}

.contentSlot.gratitudes.currentPage-1 p {
    color: var(--theme-primary-extralight, #FFFFFF) !important;
}
