@font-face {
  font-family: 'Larken';
  font-style: normal;
  font-weight: 700;
  src: url('larken/Larken-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Larken';
  font-style: italic;
  font-weight: 700;
  src: url('larken/Larken-BoldItalic.woff2') format('woff2');
}
