.contentSlot .bg-primary {
    background-color: var(--theme-primary, transparent)
}

.contentSlot .bg-secondary {
    background-color: var(--theme-secondary, transparent)
}


.contentSlot {
    font-size: 1em;
    line-height: 145%;
}

.contentSlot *::selection {
    color: #FFF;
    background: var(--theme-secondary, #ffa03c);
}

.contentSlot .background-primary {
    background-color: var(--theme-primary, transparent)
}

.contentSlot.cover {
    font-size: 14px;
    line-height: 32px;
}

.contentSlot.cover h1 {
    font-family: "Larken", sans-serif !important;
    font-weight: 600;
    font-size: 3.65em;
    line-height: 1.125;
    color: #fff!important;
    margin-bottom: 1em;
}

.contentSlot.cover h3 {
    font-family: "Larken", sans-serif !important;
    font-weight: 600;
    font-size: 2.1em;
    line-height: 1.1;
    color: #fff!important;
    margin-bottom: 1em;
}

.contentSlot h1,
.contentSlot .h1,
.contentSlot h2,
.contentSlot .h2,
.contentSlot h3,
.contentSlot .h3,
.contentSlot h4,
.contentSlot .h4,
.contentSlot h5,
.contentSlot .h5 {
    font-family: "Larken", sans-serif !important;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: var(--theme-primary, #333333);
    margin-bottom: 0.83em;
}

.contentSlot h1,
.contentSlot h2,
.contentSlot h3 {
    break-before: column;
}

.contentSlot h1 {
    font-size: 3em;
    line-height: 115%;
    margin-top: 0;
}

.contentSlot h2 {
    font-size: 2.25em;
    line-height: 115%;
    margin-top: 0;
}

.contentSlot h3 {
    font-size: 1.5em;
    line-height: 135%;
    margin-top: 0;
}

.contentSlot h4 {
    font-size: 1.125em;
    line-height: 135%;
}

.contentSlot p {
    margin-bottom: 1em;
    line-height: 160%;
    color: var(--text-main, #333333);
}

.contentSlot ol,
.contentSlot ul {
    list-style: none;
    margin: 1em 0 1em 2em;
    counter-reset: list;
}

.contentSlot ol li,
.contentSlot ul li {
    list-style: none;
    position: relative;
    counter-increment: list;
}

.contentSlot ol li:before {
    content: counter(list) ". ";
    position: absolute;
    left: -2em;
    font-size: 1em;
    color: var(--theme-primary, #ffa03c);
}

.contentSlot ul li:before {
    content: "•";
    position: absolute;
    left: -1.40em;
    font-size: 1.5em;
    color: var(--theme-primary, #ffa03c);
}

.contentSlot li {
    color: var(--theme-primary, #333333);
}

.dark .contentSlot p {
    color: var(--text-main-dark, #eeeeee);
}

.contentSlot blockquote {
    font-style: italic;
    color: var(--theme-primary, #333333);
    border-left: 0.25em solid var(--theme-primary, #333333);
    margin-left: 0;
    padding-left: 3em;
    clear: both;
}

@media (max-width: 768px) {
    .contentSlot blockquote {
        padding-left: 1em;
    }
}

.contentSlot blockquote p {
    color: var(--theme-primary, #333333);
}

.dark .contentSlot blockquote p {
    color: var(--theme-primary, #eeeeee);
}

.highlight, mark {
    position: relative;
    z-index: 1;
    background: none;
    box-shadow: 0px -0.65em var(--theme-primary-extralight, #eeeeee) inset;
}

.highlight.highlight-green {
    color: rgba(40, 96, 30) !important;
    box-shadow: 0px -0.65em rgb(208 227 190) inset !important;
}

.highlight.highlight-red {
    color: rgb(200 70 60) !important;
    box-shadow: 0px -0.65em rgb(242 211 199) inset !important;
}

.highlight.highlight-blue {
    color: rgb(70 70 100) !important;
    box-shadow: 0px -0.65em rgb(217 218 214) inset !important;
}

.highlight.highlight-bege {
    color: rgba(185, 136, 61) !important;
    box-shadow: 0px -0.65em rgb(244 229 206) inset !important;
}



.dark .highlight, .dark mark {
    box-shadow: 0px -0.65em var(--theme-primary-extradark, #666) inset;
}

.contentSlot figcaption {
    color: var(--theme-primary, #333333);
    border-top: 0.25em solid var(--theme-primary, #333333);
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

.contentSlot.columns-single .hide-single-column {
    display: none !important;
}

.opening {
    font-style: italic;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.full-align-center {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.full-align-center * {
    break-before: initial !important;
}

.float-left {
    float: left;
}

.footnote {
    border-bottom: 1px dashed var(--theme-primary, #333333);
    cursor: pointer;
}

.footnote:hover {
    border-bottom: 1px solid var(--theme-primary, #333333);
}

.dark .d-light,
.light .d-dark {
    display: none !important;
}
