@import url("base.css");

html {
  --bg-light-mode: #fff7e0;
  --bg-dark-mode: rgb(45, 45, 45);
  --theme-primary: rgb(200 70 60);
  --theme-primary-extralight: rgb(242 211 199);
  --theme-secondary: rgb(157 29 19);
  --text-main: rgb(200 70 60);
  --sidebar-backgorund: rgb(157 29 19);
  --sidebar-text: #fff;
}

.contentSlot.part-a.currentPage-1.columns-double h1,
.contentSlot.part-a.currentPage-1.columns-single h1,
.contentSlot.part-a.currentPage-2.columns-double h2,
.contentSlot.part-a.currentPage-2.columns-double h3 {
    color: #FFF !important;
}

.contentSlot.part-a.currentPage-1.columns-double h2,
.contentSlot.part-a.currentPage-2.columns-single h2 {
    color: var(--theme-primary-extralight, #FFFFFF) !important;
}

.contentSlot.part-a.currentPage-2.columns-double figcaption,
.contentSlot.part-a.currentPage-3.columns-single figcaption {
    color: var(--theme-primary-extralight, #FFFFFF) !important;
    border-top: 0.25em solid #FFF !important;
}

.contentSlot.part-a.currentPage-2.columns-double p {
    color: var(--theme-primary-extralight, #FFFFFF) !important;
}

.contentSlot.references.currentPage-1.columns-double h1,
.contentSlot.references.currentPage-1.columns-single h1 {
    color: #FFF !important;
}

.contentSlot.references p {
    padding-left: 3em;
    text-indent: -3em;
}

.contentSlot.references p a {
    border-bottom: 1px dotted var(--theme-primary, #333) !important;
}

.contentSlot.references p a:hover {
    border-bottom: 2px solid var(--theme-primary, #333) !important;
}
