@import url("base.css");

html {
  --bg-light-mode: #fff7e0;
  --bg-dark-mode: rgb(45, 45, 45);
  --theme-primary: rgb(110, 180, 100);
  --theme-primary-extralight: rgb(208 227 190);
  --theme-secondary: rgb(110, 180, 100);
  --text-main: rgba(40, 96, 30);
  --sidebar-backgorund: rgb(110, 180, 100);
  --sidebar-text: #fff;
}

.contentSlot.introduction-systemic-sustainability-editora-sabia.currentPage-1.columns-double h2,
.contentSlot.introduction-systemic-sustainability-editora-sabia.currentPage-1.columns-single h2 {
    color: #FFF !important;
}

.contentSlot.introduction-systemic-sustainability-editora-sabia.currentPage-1.columns-double p,
.contentSlot.introduction-systemic-sustainability-editora-sabia.currentPage-2.columns-single p {
    color: var(--theme-primary-extralight, #FFFFFF) !important;
    font-size: 1.5em;
}
