@import url("base.css");

html {
  --bg-light-mode: #fff7e0;
  --bg-dark-mode: rgb(45, 45, 45);
  --theme-primary: rgb(185, 136, 61);
  --theme-primary-extralight: rgb(243 244 246);
  --theme-secondary: #cd2800;
  --text-main: rgba(185, 136, 61);
}
