@import url('./jornalistica.css');
@import url("https://use.typekit.net/aup1sij.css");

html {
  --bg-light-mode: #fff7e0;
  --bg-dark-mode: rgb(45, 45, 45);
  --theme-primary: #8398d0;
  --theme-primary-extralight: #c4e2ff;
  --theme-secondary: #0054a6;
  --text-main: #2D2D2D;
  --sidebar-backgorund: #0054a6;
  --sidebar-text: #fff;
}

.contentSlot {
    font-size: 1em;
    line-height: 1.55;
}

.contentSlot *::selection {
    color: #FFF;
    background: var(--theme-secondary, #ffa03c);
}

.contentSlot .background-primary {
    background-color: var(--theme-primary, transparent)
}

.contentSlot h1,
.contentSlot .h1,
.contentSlot h2,
.contentSlot .h2,
.contentSlot h3,
.contentSlot .h3,
.contentSlot h4,
.contentSlot .h4,
.contentSlot .featured-text * {
    font-family: "Jornalistica Italic";
}


.contentSlot.capa {
    font-size: 14px;
    line-height: 32px;
    padding-right: 3em;
}

.max-h-90p {
    max-height: 90%;
}

.contentSlot h1,
.contentSlot .h1 {
    font-family: "Jornalistica Italic";
    font-size: 3em;
    line-height: 1.166667em;
    letter-spacing: 0.000em;
    font-variation-settings: "wght" 750, "wdth" 60, "slnt" 5, "CNTR" 500, "EXTD" 0, "SPAC" 0;
    font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0, "lnum" 0;
}

.degular {
    font-family: "degular-variable", serif !important;
    font-variation-settings: "ital" 0, "wght" 200, "opsz" 6;
}

.degular-bold {
    font-family: "degular-variable", serif !important;
    font-variation-settings: "ital" 0, "wght" 700, "opsz" 6;
    font-weight: 700;
}

.contentSlot h2,
.contentSlot .h2 {
    font-size: 2.25em;
    line-height: 1.22380952em;
    margin-top: 1em;
    margin-bottom: 0.36em;
    font-family: "Jornalistica Italic";
    letter-spacing: 0.000em;
    font-variation-settings: "wght" 750, "wdth" 60, "slnt" 5, "CNTR" 500, "EXTD" 0, "SPAC" 0;
    font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0, "lnum" 0;
}

.contentSlot h3,
.contentSlot .h3 {
    font-size: 1.85em;
    line-height: 1.35em;
    margin-top: 1em;
    margin-bottom: 0.36em;
    padding-right: 25%;
    font-family: "Jornalistica Italic";
    letter-spacing: 0.000em;
    font-variation-settings: "wght" 750, "wdth" 60, "slnt" 5, "CNTR" 500, "EXTD" 0, "SPAC" 0;
    font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0, "lnum" 0;
}

.contentSlot h4,
.contentSlot .h4 {
    font-size: 1.66em;
    line-height: 1.35em;
    margin-top: 1em;
    margin-bottom: 0.36em;
    font-family: "Jornalistica Italic";
    letter-spacing: 0.000em;
    font-variation-settings: "wght" 750, "wdth" 60, "slnt" 5, "CNTR" 500, "EXTD" 0, "SPAC" 0;
    font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0, "lnum" 0;
}

.contentSlot h5,
.contentSlot .h5 {
    font-size: 1em;
    line-height: 1.35em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "Jornalistica Italic";
    letter-spacing: 0.000em;
    font-variation-settings: "wght" 750, "wdth" 60, "slnt" 5, "CNTR" 500, "EXTD" 0, "SPAC" 0;
    font-feature-settings: "ss01" 0, "ss02" 0, "ss03" 0, "lnum" 0;
}

.contentSlot p {
    text-indent: 2em;
    font-weight: 400;
}

.contentSlot p em {
    text-indent: 2em;
    font-weight: 400;
}

.contentSlot .featured-text {
    font-size: 2em;
    margin: 2em 0;
    font-family: "degular-variable", sans-serif;
    text-align: right;
}

.contentSlot .featured-text * {
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 0;
}

.contentSlot ul,
.contentSlot ol,
.contentSlot pre,
.contentSlot table {
    margin: 2em 0;
    font-weight: 300;
}

.contentSlot blockquote {
    margin: 2em 0 2em 0em;
    padding-left: calc(2em - 10px);
    font-weight: 300;
    border-left: 10px solid #8398d0;
}

.contentSlot blockquote p {
    text-indent: 0 !important;
    margin-bottom: 0.5em;
}

.contentSlot ul {
    margin: 1em 0 1em 3em;
    padding-left: 0;
    list-style-position: outside;
}

.contentSlot ul li:before {
    content: "·";
    font-size: 2.5em;
    vertical-align: middle;
    line-height: 0em;
    padding-right: 12px;
}

.contentSlot ul li {
    text-indent: calc(-1em - 9px);
}

.contentSlot ul ul,
.contentSlot ol ol,
.contentSlot ul ol,
.contentSlot ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

	/* Let's make sure all's aligned */
.contentSlot hr,
.contentSlot .hr {
    border: 1px solid;
    margin: -1px 0;
}

.contentSlot a,
.contentSlot b,
.contentSlot i,
.contentSlot strong,
.contentSlot em,
.contentSlot small,
.contentSlot code,
.contentSlot em {
    line-height: 0;
}

.contentSlot sub,
.contentSlot sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.contentSlot sup {
    top: -0.5em;
}

.contentSlot sub {
    bottom: -0.25em;
}

.contentSlot em,
.contentSlot i {
    font-style: italic;
}

.contentSlot strong,
.contentSlot b {
    font-weight: bold;
}

.contentSlot:not(.referencias) h1 + p,
.contentSlot:not(.referencias) h2 + p,
.contentSlot:not(.referencias) h3 + p,
.contentSlot:not(.referencias) h4 + p,
.contentSlot:not(.referencias) h5 + p,
.contentSlot:not(.referencias) h6 + p,
.contentSlot:not(.referencias) table + p,
.contentSlot:not(.referencias) .image-source + p {
    text-indent: 0 !important;
}

.contentSlot .cover h1,
.contentSlot .cover .h1,
.contentSlot .cover h2,
.contentSlot .cover .h2,
.contentSlot .cover h3,
.contentSlot .cover .h3,
.contentSlot .cover h4,
.contentSlot .cover .h4 {
    margin: 0 !important;
}

.contentSlot .separator {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.5em 0;

    span {
        display: block;
        width: 100px;
        border-bottom: 1px solid #ccc;
    }
}

.contentSlot .list-item-style {
    padding: 0.5em 0 0.5em 2em;
    position: relative;
    text-indent: 0 !important;
}

.contentSlot .list-item-style::before {
    content: '•';
    position: absolute;
    top: 0.65em;
    left: 0;
    width: 1em;
    font-size: 2em;
    line-height: 0;
}

.contentSlot .list-item-style p {
    text-indent: 0 !important;
}

.contentSlot .list-number-style {
    padding: 0.5em 0 0.5em 2em;
    position: relative;
    text-indent: 0 !important;
    counter-incement: line-number;
}

.contentSlot .list-number-style::before {
    content: counter(line-number)'.';
    position: absolute;
    top: 1.3em;
    left: 0;
    font-size: 1em;
    line-height: 0;
}

.contentSlot .list-number-style p {
    text-indent: 0 !important;
}

.contentSlot p:not(.list-item-style) + .list-item-style,
.contentSlot p:not(.list-number-style) + .list-number-style {
    padding-top: 1em;
}

.contentSlot p:not(.list-item-style) + .list-item-style::before {
    top: 0.9em;
}

.contentSlot p:not(.list-number-style) + .list-number-style::before {
    top: 1.8em;
}

.contentSlot .list-item-style + p:not(.list-item-style),
.contentSlot .list-number-style + p:not(.list-number-style) {
    margin-top: 1em;
}

.contentSlot .reference,
.contentSlot .footnote {
    border-bottom: 1px dotted rgb(21, 65, 148);
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
}

.contentSlot .reference:hover,
.contentSlot .footnote:hover {
    border-bottom: 3px solid rgb(21, 65, 148);
}

.contentSlot .epigrafe {
    width: 100%;
    max-width: 520px;
    break-after: column;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contentSlot .epigrafe * {
    color: white;
    font-size: 1.5em;
    line-height: 2em;
    text-indent: 0;
    font-weight: 500;
}

.contentSlot.referencias p {
    padding-left: 3em;
    text-indent: -3em;
    margin-bottom: 1em;
}

.contentSlot.referencias p:first-chid {
    padding-left: 3em !important;
    text-indent: -3em !important;
}

.ending_reference p {
    padding-left: 3em !important;
    text-indent: -3em !important;
    margin-bottom: 0.5em !important;
}

.contentSlot figcaption {
    font-weight: bold;
}

.contentSlot .figNumber {
    font-family: "degular-variable", sans-serif !important;
    font-weight: 300;
    text-transform: uppercase;
    padding-right: 0.5em;
}

.contentSlot .reference-list p {
    padding-left: 3em;
    text-indent: -3em;
    margin-bottom: 0.5em;
}

.contentSlot .epigraph {
    text-align: right;
    margin-bottom: 2em;
}

.contentSlot .epigraph h2 {
    text-indent: 0 !important;
    text-align: right;
    padding-right: calc(0.5em - 10px) !important;
    border-right: 10px solid #ddd;
    font-variation-settings: "wght" 400, "wdth" 60, "slnt" 5, "CNTR" 500, "EXTD" 0, "SPAC" 0;
}

.contentSlot .epigraph p strong {
    font-family: "degular-variable", sans-serif !important;
    font-weight: 700;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
    line-height: 1.5;
}

table {
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
}

table:has(+ table) {
    border-bottom: none !important;
}

.dark table,
.dark th,
.dark td,
.dark blockquote,
.dark .contentSlot .footnote {
    border-color: white !important;
}

th {
    border-bottom: 1px solid #000;
    font-family: "degular-variable", sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding-top: 0.75em;
}

td {
    border-bottom: 1px solid #000;
    vertical-align: top;
}

tr:last-child td {
    border-bottom: none !important;
}

table td:first-child {
    border-top: none !important;
}

.sobre-autor {
    margin-top: 4em;
    text-indent: 0;
}

.sobre-autor strong {
    font-family: "degular-variable", serif !important;
    font-weight: 700;
}
